.navbar {
  opacity: 0.9;
  background-color: hsla(32, 81%, 45%, 1);
}

.card {
  opacity: 0.9;
  width: 23vw;
}

.card-description {
  height: 150px;
}

.card-title-home {
  height: 50px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}

body {
  background-image: url('https://img.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_53876-129493.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: white;
}

.toastify {
  background: rgba(0, 0, 0, .5);
  color: white;
  border-radius: 10px;
  border: 1px solid yellow;
}

@media screen and (max-width: 768px) {
  .card {
    width: 95vw;
    margin: 0 auto;
    opacity: 0.75;
    text-align: center;
  }

  .card-description {
    height: auto;
  }

  .card-title-home {
    height: auto;
  }
}